<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aplikasi Inventaris RSUD Waluyo Jati</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-success">
      <div class="container-fluid">
        <a class="navbar-brand ms-2" href="#">
          <img style="width: 50px; border-radius: 50px" src="../assets/logoRS.jpg" alt="" />
        </a>
        <h5>Aplikasi Inventaris RSUD Waluyo Jati</h5>

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-2" style="font-size: 2rem; color: white; cursor: pointer"> </i>
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2"><%= user.nama_petugas %></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/petugas/updatepassword">
                <i class="bi bi-gear"></i>
                <span>Ganti Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Keluar</span>
              </a>
            </li>

          </ul>
      </div>
    </nav>

    <div class="row g-0">
      <div class="col-md-2 bg-success p-3" style="--bs-bg-opacity: 0.5; min-height: 100vh">
        <h5>Master Data</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/barang">Data Barang</a>
          </li>
          <% if(user.level === "Admin") { %>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/ruangan">Data Ruangan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/petugas">Data Petugas</a>
            </li>
          <% } %>
        </ul>
        <hr />
        <h5>Transaksi</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/distribusi/pilih">Distribusi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/mutasi">Mutasi</a>
          </li>
        </ul>
        <hr />
        <h5>Laporan</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/laporan">Daftar Inventaris Ruangan</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="container-fluid">
          <h3>Pilih Barang yang Akan Didistribusi</h3>
          <hr />

          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cari Nama Barang" title="Type in a name">

          <table class="table table-success table-striped table-bordered my-3" id="myTable">
            <thead>
              <tr>
                <th scope="col">No</th>
                  <th scope="col">Kode Barang</th>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Merk</th>
                  <th scope="col">Jumlah</th>
                  <th scope="col">Sisa</th>
                  <th scope="col">Harga</th>
                  <th scope="col">Tahun</th>
                  <th scope="col">Sumber Dana</th>
                  <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% no=1 %>
              <% 
                const rupiah = (number) =>{
                  var bilangan = number;

                  var reverse = bilangan.toString().split('').reverse().join(''),
                  ribuan  = reverse.match(/\d{1,3}/g);
                  ribuan  = ribuan.join('.').split('').reverse().join('');
                  return ribuan;  
                }
                        
              %>
              <% const filter = getBarang.filter(element => element.jumlah > getDetail.filter(el => el.id_barang === element.id_barang).length) %>
              <% filter.forEach(data => {  %>
              <tr>
                <th scope="row"><%= no++ %></th>
                <td><%= data.kode_barang %></td>
                <td><%= data.nama_barang %></td>
                <td><%= data.merk %></td>
                <td><%= data.jumlah %></td>
                <td><%= data.jumlah-getDetail.filter(el => el.id_barang === data.id_barang).length %></td>
                <td><%= rupiah(data.harga) %></td>
                <td><%= data.tahun %></td>
                <td><%= data.sumber_dana %></td>
                <td>
                  <a href="/distribusi/input/<%= data.id_barang %>" role="button" class="btn btn-success btn-sm">Pilih</a>
                  <!-- <a href="/distribusi/input/<%= data.id %>"><button type="button" class="btn btn-primary">Pilih</button></a> -->
                </td>
              </tr>
              <% }) %> 
              <!-- <tr>
                <th scope="row">1</th>
                <td>356</td>
                <td>Pensil</td>
                <td>2B</td>
                <td>16</td>
                <td>1000</td>
                <td></td>
                <td></td>
                <td>
                  <a href="" role="button" class="btn btn-secondary btn-sm">Edit</a>
                  <a href="" role="button" class="btn btn-danger btn-sm">Hapus</a>
                </td>
              </tr> -->
            </tbody>
          </table>

          <!-- <a href="inputdistribusi.html" role="button" class="btn btn-success">Pilih</a> -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      function deleteUser(){
        alert('hehe');
      }
    </script>
  </body>
</html>
